.AboutWrapper {
  background-color: #333;
}

.AboutContent {
  height: 95vh;
  background-color: whitesmoke;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.AboutGreeting {
  margin: 0;
  padding-top: 20px;
}

.AboutImage {
  width: 200px;
  align-self: center;
  margin: 20px 0 5px 0;
}

.AboutContactList {
  list-style-type: none;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

.AboutContactItem {
  margin-top: 10px;
}

.AboutContactIcon {
  margin-right: 8px;
}

/* Large desktop */
@media only screen 
  and (min-height: 900px) {
    .AboutGreeting {
      padding-top: 15%;
    }
}