.NavBar {
  background-color: #333;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed; 
  top: 0; 
  width: 100%;
  border: 1px solid #111;
  z-index: 6;
}

.NavLink a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #111;
  min-width: 105px;
}

.NavLink a:hover {
  background-color: #111;
}

/* iPhone X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .NavLink a {
      min-width: 92px;
    }
}

/* iPhone 6, 6S, 7 and 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .NavLink a {
      min-width: 92px;
    }
}

/* Galaxy S6 */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .NavLink a {
      min-width: 87px;
    }
}

/* Galaxy S5 */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .NavLink a {
      min-width: 87px;
    }
}