.Sidebar {
  background-color: #333;
  position: fixed;
  width: 240px;
  height: 100%;
  margin-top: -13px;
  display: flex;
  flex-direction: column;
  border: 1px solid #111;
  color: whitesmoke;
}

.HeadShot {
  width: 200px;
  align-self: center;
  padding-top: 30px;
}

.ContactHeader {
  align-self: center;
}

.ContactList {
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
}

.ContactItem {
  margin-bottom: 10px;
}

.ContactItem a {
  color: whitesmoke;
}

.ContactIcon {
  margin-right: 8px;
}

/* large desktop */
@media only screen 
  and (min-width: 1645px) {
    .Sidebar {
      width: 414px;
    }
}

/* iPhone x */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Sidebar {
      width: 135px;
    }
    .HeadShot {
      width: 100px;
    }
    .ContactList {
      padding: 0 5px;
      font-size: 12px;
    }
    .ContactItem {
      word-break: break-all;
    }
}

/* iPhone 6, 6S, 7 and 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .Sidebar {
      width: 135px;
    }
    .HeadShot {
      width: 100px;
    }
    .ContactList {
      padding: 0 5px;
      font-size: 12px;
    }
    .ContactItem {
      word-break: break-all;
    }
}

/* Galaxy S6 */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .Sidebar {
      width: 135px;
    }
    .HeadShot {
      width: 100px;
    }
    .ContactList {
      padding: 0 5px;
      font-size: 12px;
    }
    .ContactItem {
      word-break: break-all;
    }
}

/* Galaxy S5 */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .Sidebar {
      width: 135px;
    }
    .HeadShot {
      width: 100px;
    }
    .ContactList {
      padding: 0 5px;
      font-size: 12px;
    }
    .ContactItem {
      word-break: break-all;
    }
}