
.CVSidebar {
  background-color: #333;
  position: fixed;
  width: 230px;
  height: 100%;
  margin-top: -13px;
  display: flex;
  flex-direction: column;
  border: 1px solid #111;
  color: whitesmoke;
}

.HeadShot {
  width: 200px;
  align-self: center;
  padding-top: 15px;
}

.ContactHeader {
  align-self: center;

}

.ContactList {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
}

.ContactItem {
  margin: 10px 0;
}

.ContactItem a {
  color: whitesmoke;
}

.CVContent {
  margin: 60px 15px 25px 245px;
}

.JobDescription, .LanguageList, .CertificateList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 25px;
}

.JobTitle, .JobDuration {
  margin: 0;
}

.SubHeader {
  border-bottom: 1px solid slategray;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Language, .Certificate {
  margin: 6px 0px
}