.CVContent {
  margin: 72px 15px 25px 245px;
  text-align: left;
}

.JobDescription, .LanguageList, .CertificateList, .TechList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 25px;
}

.JobTitle, .JobDuration, .TechType {
  margin: 0;
}

.SubHeader {
  border-bottom: 1px solid slategray;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Language, .Certificate, .TechItem {
  margin: 6px 0px
}