.Hackday {
  margin-top: 60px;
}

.HackdayContent{
  display: flex;
  flex-direction: column;
  background-color: steelblue;
}

.HackdayImage {
  width: 100%;
  border: 1px solid #111;
  border-radius: 10px;
}