.PortfolioItemParagraph {
  display: flex;

}

.PortfolioItemParagraphText {
  width: 97%;
  margin: 0 auto;
  padding: 28px 8px;
  background-color: whitesmoke;
  text-align: center;
}

.PortfolioItemParagraphEmpty {
  width: 100%;
}

.ParagraphImage {
  width: 100%;
}