.BiographyContent {
  margin: 0px 15px 0px 255px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: left;
}

.BiographyHeader {
  margin: 10px 0;
}

/* Large desktop */
@media only screen 
  and (min-width: 1645px) {
    .BiographyContent {
      margin: 60px 15px 25px 432px;
      max-width: 1200px;
    }
}

/* iPhone X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .BiographyContent {
      margin: 60px 15px 25px 150px;
    }
}

/* iPhone 6, 6S, 7 and 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .BiographyContent {
      margin: 60px 15px 25px 150px;
    }
}

/* Galaxy S6 */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .BiographyContent {
      margin: 60px 15px 25px 150px;
    }
}

/* Galaxy S5 */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .BiographyContent {
      margin: 60px 15px 25px 150px;
    }
}